[user]
  name = Valentin Berlin
  email = valentin.berlin@protonmail.com
[core]
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = true
  line-numbers-left-format = ""
  line-numbers-right-format = "│ "
  syntax-theme = Nord
[init]
	defaultBranch = main
